.App {
  background-color: #282c34;
  text-align: center;
  min-height: 100vh;
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar {
  display: flex;
  padding: 15px;
}

.navbar button {
  padding: 7px;
  font-weight: 700;
}

.shortLinkDisplay {
  display: flex;
  justify-items:last baseline;
  flex-direction: row;
}

.shortLinkDisplay p {
  margin: 10px;
  padding-top: 10px;
  font-size: 20px;
}

.errorBlock {
  padding-top: 5px;
  font-size: large;
  color: red;
}

table {
  text-align: start;
  font-size: medium;
  margin: 10px;
  padding: 20px;
}

table thead {
  background-color:blueviolet;
}

table tbody {
  background-color: black;
}

table th, td {
  padding: 10px;
}

form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

input {
  margin: 10px;
  padding: 10px;
  width: 300px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

a {
  color: white;
}

